//import
@use "partials-variables.scss" as *;

nav {
  //Stilarter for <nav> elementet kommer her
  background-color: $primary-color1;
  font-family: "Akzidenz-Grotesk Black", sans-serif;
  padding: 0.5rem 1rem;
  transition: 300ms ease-in-out;
  display: flex;
  justify-content: space-between;

  ul {
    //Disse stilarter gælder kun for <ul> elementer inde i <nav>
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    gap: 10px;

    li {
      //Disse stilarter gælder kun for <li> elementer inde i <nav>
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: $primary-color2;
        &:hover {
          filter: brightness(0.8) contrast(2);
          color: $primary-color3;
        }
      }
    }
  }
}
