@use "partials-variables.scss" as *;
@use "partials-mixins.scss" as *;

.oneredcross {
  @include section-style;
  background-color: $primary-color2;
  color: $primary-color1;
  padding: 1rem;
  margin: 1rem 0;
}
